@media screen and (max-width: 1200px) {
    main {
        flex-flow: column ;
    }

    main aside {
        align-self: center;
    }

    #btn-show, #btn-hide {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    nav ul {
        justify-content: center;
    }

    main aside {
        align-self: center;
    }
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
    font-size: 1rem;
}

header {
    display: inline;
    text-align: center;
}

header div {
    padding: 2rem;
}

nav {
    background-color: #e1e1e1;
}

nav ul {
    display: flex;
}

nav li {
    padding: 1rem;
    list-style-type: none;
}

nav a {
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}

nav a:hover {
    font-weight: bold;
    color: blue;
}

main {
    display: flex;
    justify-content: center;
}

aside {
    max-width: 50%;
}

footer {
    padding: 1rem;
    background-color: #e1e1e1;
    text-align: center;
    font-weight: bold;
}

#title {

}

#main {
    align-items: center;
    display: flex;
    flex-flow: column;
}

#btn-show {
    position: absolute;
    border-radius: 16px 0 0 16px;
    background-color: #000000;
    padding: 0.5rem;
    padding-right: 1.2rem;
    color: #ffffff;
    margin-top: 1rem;
    right: 0;
    opacity:0;
    transition: all 1s;
}

#btn-show.hide {
    opacity: 1;
    visibility: block;
}

#img-div {
    width: 75%;
    background-color: #ffffff;
    padding: 2rem 0 2rem 0;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-flow: column;
}

#image {
    width: 90%;
}

#img-caption {
    
    text-align: center;
    margin: 1rem 0 0 0;
}

#tribute-info {
    text-align: center;
    margin: 2rem;
}

#tribute-info ul {
    text-align: left;
    display: grid;
    gap: 1rem;
}

#tribute-info li {
    
}

#reference {
    margin: 2rem;
}

#reference li {
    
}

#profile {
    flex: 1;
    transition: all 1s;
}

#profile.hide {
    visibility: hidden; 
    transform: translateX(100%);
    width: 0;
}

#profile > article {
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
    background-color: #ffffff;
}


#profile > article > div {
    display: flex;
    text-align: left;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

#btn-hide {
    position: relative;
    border-radius: 16px;
    padding: 0.7rem;
    background-color: #000000;
    color: #ffffff;
}

.img-profile {
    max-width: 90%;
    height: auto;
    margin: auto;
}



.hide-element {
    display:none;
    opacity:0;
}

.change-flow {
    flex-flow: column-nowrap;
}